@import "mixins";
@import "variables";

.name-page {
  height: calc(100vh);
  display: grid;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  @media screen and (max-width: $screen-thresh) {
    white-space: initial;
  }

  background: linear-gradient(#f472b6, #fdba74);

  perspective: 10px;

  &::after {
    /* Filling in the weird gap */
    content: "";
    position: absolute;
    background-color: #fdba74;
    height: 100%;
    width: 100vw;
    top: 100vh;
  }
}

.name-title {
  font-size: 4rem;
  font-weight: normal;
  justify-content: center;
  text-align: center;

  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.5));
  transform-style: preserve-3d;
  transform: translateZ(-10px) scale(2);

  transition: $hover-duration;
  &:hover {
    letter-spacing: 0.8rem;
  }
}

.section {
  position: sticky;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 -8px 8px rgba(0, 0, 0, 0.3));
  @include section-spacing;
  @include section-color;

  .section-title {
    font-size: 3rem;
    font-weight: normal;
    transition: $hover-duration;
    padding-left: 1rem;
    margin-block: 0;
    height: fit-content;
    width: 100%;
    white-space: nowrap;
    &:hover {
      letter-spacing: 0.6rem;
    }
  }

  .section-body {
    position: relative;
    // height: calc(100%-3rem);
    max-height: 100%;
    flex-grow: 1;
    align-items: center;

    background-size: cover;
    border-radius: inherit;

    .section-redirect {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      right: 0;

      .section-redirect-cover {
        height: 100%;
        width: 200%;
        background: rgba(0, 0, 0, 0.3);

        transition: $hover-duration;
        transform: skewX(-10deg) translateX(50%);

        &:hover {
          transform: translateX(0) skewX(-15deg);
        }
      }

      .section-flavor {
        font-weight: 300;
        font-size: 9rem;
        height: 100%;
        vertical-align: middle;
        align-items: center;
        position: absolute;
        top: 0;
        right: 5%;
        white-space: nowrap;

        transition: $hover-duration;
        transform: translateX(-0.5em);

        &::before {
          content: "Read More";
          font-size: 3rem;
          font-weight: 400;
          vertical-align: middle;
          display: inline-block;

          transition: inherit;
          opacity: 0;
          white-space: nowrap;
          transform: translateX(2em);
          letter-spacing: -0.3rem;
        }

        &:hover {
          transform: translateX(0);
        }

        &:hover::before {
          opacity: 100%;
          transform: translateX(0);
          letter-spacing: 0.2rem;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      z-index: -1;
      border-radius: inherit;
    }
  }

  .bg-stacked-steps::after {
    background-image: url("../img/stacked-steps.svg");
  }

  .bg-poly-grid::after {
    background-image: url("../img/poly-grid.svg");
  }

  .bg-stacked-waves::after {
    background-image: url("../img/stacked-waves.svg");
  }

  .bg-stars::after {
    background-image: url("../img/stars.svg");
  }
}

// Individual section styling
#about-section {
  // The contents of the about container
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

  @media screen and (max-width: $screen-thresh) {
    flex-direction: column-reverse;
  }

  align-items: center;

  padding: 1rem;

  .img-container {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;

    @media screen and (max-width: $screen-thresh) {
      height: 50%;
      max-height: 50%;
    }

    .img-rect-container {
      height: auto;
      width: 100%;
      max-height: 100%;
      max-width: 100%;

      @media screen and (max-width: $screen-thresh) {
        height: 100%;
        width: auto;
        padding-bottom: 0;
        padding-right: 100%;
      }

      position: relative;
      padding-bottom: 100%;

      .img-rect {
        // padding: 8px;
        position: absolute;
        object-fit: cover;
        object-position: 0 0; // Center pic on face
        height: 100%;
        width: 100%;

        border-radius: 100%;
      }
    }
  }

  #about-desc {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
  }
}

#contact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact-form {
  margin-inline: 1rem;

  display: flex;
  flex-direction: column;
  vertical-align: middle;

  width: 100%;

  .contact-item {
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-inline: 2rem;
    margin-block: 0.5rem;
    padding: 0.5rem;
  }

  .contact-message {
    background-color: white;
    color: black;
  }
  .contact-message[contenteditable]:empty::before {
    content: 'Message';
    color: gray;
  }
  .contact-send {
    background: nth($section-colors, 4);
    color: white;
    border: none;
    position: relative;
    overflow: hidden;

    font-size: 2.5rem;
    padding: 1rem;

    transition: $hover-duration;
  }
  .contact-send-invalid {
    opacity: 0.5;
  }
  .contact-send-valid { // Should activate when adequate fields have been filled in
    opacity: 1;

    transition: $hover-duration;
    &:hover {
      letter-spacing: 0.2rem;
      background-color: transparent;
    }
    &::after {
      content: '';
      background-color: nth($section-colors, 2);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;

      transition: $hover-duration;
      transform: translateX(-200vh) skewX(45deg);
    }

    &:hover::after {
      transform: translateX(0) skew(45deg);
    }
  }
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  font-size: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}
