@import "mixins";
@import "variables";

.name-page {
  height: calc(100vh);
  display: grid;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  background: linear-gradient(#f472b6, #fdba74);

  perspective: 10px;

  &::after {
    /* Filling in the weird gap */
    content: "";
    position: absolute;
    background-color: #fdba74;
    height: 100%;
    width: 100vw;
    top: 100vh;
  }
}

.name-title {
  font-size: 4rem;
  font-weight: normal;
  justify-content: center;

  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.5));
  transform-style: preserve-3d;
  transform: translateZ(-10px) scale(2);

  transition: $hover-duration;
  &:hover {
    letter-spacing: 0.8rem;
  }
}

.section {
  position: sticky;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 -8px 8px rgba(0, 0, 0, 0.3));
  @include section-spacing;
  @include section-color;

  .section-title {
    font-size: 3rem;
    font-weight: normal;
    transition: $hover-duration;
    margin-left: 1rem;
    margin-block: 0;
    width: fit-content;
    &:hover {
      letter-spacing: 0.6rem;
    }
  }

  .section-body {
    // position: absolute;
    // height: calc(100%-3rem);
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;

    background-size: cover;
    border-radius: inherit;

    .section-flavor {
      font-weight: 300;
      font-size: 9rem;
      height: 100%;
      vertical-align: middle;
      position: absolute;
      right: 5%;
      white-space: nowrap;

      transition: $hover-duration;
      transform: translateX(-0.5em);

      &::before {
        content: "Read More";
        font-size: 3rem;
        font-weight: 400;
        vertical-align: middle;
        display: inline-block;

        transition: inherit;
        opacity: 0;
        white-space: nowrap;
        transform: translateX(2em);
        letter-spacing: -0.3rem;
      }

      &:hover {
        transform: translateX(0);
      }

      &:hover::before {
        opacity: 100%;
        transform: translateX(0);
        letter-spacing: 0.2rem;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      z-index: -1;
      border-radius: inherit;
    }
  }

  .bg-stacked-steps::after {
    background-image: url("../img/stacked-steps.svg");
  }

  .bg-poly-grid::after {
    background-image: url("../img/poly-grid.svg");
  }

  .bg-stacked-waves::after {
    background-image: url("../img/stacked-waves.svg");
  }

  .bg-stars {
    background: linear-gradient(#{nth($section-colors, 4)}, black);
  }
  
  .bg-stars::after {
    background-image: url("../img/stars.svg");
  }
}

.render-canvas-container {
  height: 100vh;
  width: 100vw;

  .render-canvas {
    height: 100%;
    background-image: linear-gradient(#0e0335, #3426b6);
  }
}
