@import "mixins";

.name-page {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(#f472b6, #fdba74);
}

.name-title {
  font-size: 4rem;
  font-weight: normal;
  transition: $hover-duration;
  &:hover {
    letter-spacing: 0.8rem;
  }
}

.section {
  position: sticky;
  border-radius: 12px;
  filter: drop-shadow(0 -8px 8px rgba(0, 0, 0, 0.3));
  @include section-spacing;
  @include section-color;

  .section-title {
    font-size: 3rem;
    font-weight: normal;
    transition: $hover-duration;
    margin-left: 0.5em;
    &:hover {
      letter-spacing: 0.6rem;
    }
  }
}

.render-canvas-container {
  height: 100vh;
  width: 100vw;

  .render-canvas {
    height: 100%;
    background-image: linear-gradient(#0e0335, #3426b6);
  }
}
