* {
	font-family:'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	color: white;
	transition: all 0.5s;
	scroll-behavior: smooth;
}

/* Section styling and colors */

section {
	width: 100%;
	background-color: rgb(80, 85, 90);
	text-align: center;
	padding: 1em;
	filter: drop-shadow(0 -12px 12px rgba(0, 0, 0, 0.3));
}

#headline {
	background-color: #1b2a53;
}

#about {
	background-color: #306BAC;
}

#code {
	background-color: #224377;
}

#art {
	background-color: #306BAC;
}

#work {
	background-color: #224377;
}

#contact {
	background-color: #141B41;
}

.title {
	letter-spacing: 0.5rem;
	font-size:4rem;
}

.title:hover {
	letter-spacing: 0.75rem;
}

/* Headline and Nav bar styling */
#headline h1 {
	letter-spacing: 0.5rem;
	font-size: 6rem;
}

nav {
	background-color: #141B41;
	filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.4));
	width: 100%;
	position: sticky;
	z-index: 1;
	top: 0;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav ul li {
	margin: 4px 16px;
}

.navlink {
	font-size: 2em;
	text-decoration: none;
}

.navlink:hover {
	letter-spacing: 0.3em;
}

/* About styling */
#about div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#about div img {
	width: 20vw;
	filter: drop-shadow(0 -4px 4px rgba(0, 0, 0, 0.4));
}

#about div p {
	font-size: 1.5rem;
	width: 70vw;
	line-height: 2rem;
}

.art_exp {
	text-decoration: underline;
	cursor: pointer;
}

.art_details {
	margin-top: 8px;
	transition-duration: 0.5s;
	line-height: 0;
	transform: scaleY(0);
}

/* Program icons */
.programs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.programs img {
	height: 10em;
	margin: 1em;
	font-size: 1rem;
	filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}

.programs img:hover {
	height: 11em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Work experience item(s) */
.work_item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: seashell;
	padding: 2em;
}

.exp_title {
	font-size: 3rem;
	letter-spacing: 0.2rem;
	text-decoration: underline;
}

.exp_subtitle {
	font-size: 2rem;
	margin: 1rem 0;
}

.exp_position {
	font-size: 2rem;
}

.exp_desc {
	font-size: 1.5rem;
}

.exp_img {
	height: 20vw;
}

#code_desc {
	margin: 0 auto;
	width: 70%;
}

/* Contact form and submission */
#contact_input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input_text {
	width: 70%;
	line-height: 2rem;
	color: black;
	display: inline-block;
	word-wrap: break-word;
	word-break: break-all;
	margin: 2px;
}

.input_text#inp_title {
	font-size: 2rem;
}

.input_text#inp_msg {
	font-size: 1.5rem;
	resize: none;
}

.input_button {
	width: 70%;
	height: 4rem;
	font-size: 2rem;
	border: none;
	background-color: #224377;
}

.input_button:hover {
	letter-spacing: 0.8rem;
	background-color: #306BAC;
	cursor: pointer;
}

#contact_input p {
	font-size: 0.8rem;
}

.grecaptcha-badge {
	visibility: hidden;
}
