@import "../styles/variables";

.render-canvas-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  //   background: rgb(35, 41, 95);
  // background: linear-gradient(rgb(70, 101, 158), rgb(22, 17, 48));
//   background: linear-gradient(#5ea2e8, 40%, #1d219d);
  background: linear-gradient(#ff9191, 30%, #9b00db);
}

#art-title-page {
  position: relative;
  top: 0;
  height: 100vh;
  max-height: 100vh;

  #art-title-box {
    position: relative;
    top: 0;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    #art-title {
      margin: 0;
      font-weight: 400;
      font-size: 4rem;
      filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 0.8));

      transition: $hover-duration;
      &:hover {
        letter-spacing: 0.8rem;
      }
    }
  }
  .art-subtitles {
    position: absolute;
  }
}

.art-page {
  z-index: 2;
}
