* {
  /* Font things */
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: Nunito;
  font-weight: 300;
  font-size: 2rem;
  /* letter-spacing: 0.8rem; */
  transition: 0.7s all;
  transition-delay: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: #19164b;
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
}

.sectionTitle {
  align-items: center;
}
.sectionTitle:hover {
  letter-spacing: 0.4rem;
}

#navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  justify-content: flex-end;
  z-index: 10;
  background-image:url(./img/wavesBottom.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size:cover;
  height:30vh;
  background-color:transparent;
}

.navlink {
  font-size: 1.4rem;
  margin-inline-end: 0.6rem;
  margin-block: 0.4rem;
  letter-spacing: 0.1rem;
  z-index:auto;
  background-color: rgba(0,0,0,0);
}
.navlink:hover {
  letter-spacing: 0.6rem;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.5)
}

.subsection {
  height: 100vh;
}

.RenderCanvas {
  height:100vh;
  /* z-index: index 0; */
}