* {
  /* Font things */
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: Nunito;
  font-weight: 300;
  font-size: 2rem;
  /* letter-spacing: 0.8rem; */
  transition: 0.7s all;
  transition-delay: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: #19164b;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.2rem;
  user-select: none;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  letter-spacing: 0.5rem;
}

@keyframes fadeMoveIn {
  0% {
    opacity: 0%;
    transform: translateY(100vh);
  }
  100% {
    opacity: 100%;
    transform: translateY(40vh);
  }
}

.InTransition {
  animation: 1s ease-out 0s 1 fadeMoveIn;
  transform: translateY(40vh);
}

.light {
  background-color: #26315f;
}
.dark {
  background-color: #19164b;
}

section {
  min-height: 100vh;
  filter: drop-shadow(0px, 18px, 18px, rgba(0, 0, 0, 0.5));
}

#navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  justify-content: flex-end;
  background-color: #19164b;
  filter:drop-shadow(0, 16px, 24px, rgba(0, 0, 0, 0.8));
  z-index: 1;
}

#navbar a {
  font-size: 1.4rem;
  margin-inline-end: 0.6rem;
  margin-block: 0.4rem;
  letter-spacing: 0.1rem;
}
#navbar a:hover {
  letter-spacing: 0.6rem;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.5)
}

.subsection {
  height: 100vh;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.galleryButton {
  width: 2rem;
  border: none;
}
.galleryButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}